#map,
body,
html {
  height: 100%;
}

#intro-image {
  background-color: lightsteelblue;
  padding-top: 24pt;
}

#about_info {
  background-color: lightsteelblue;
}

h2 {
  text-align: center;
}
.nav {
  background-color: green;
 
}

body {
  padding-top: 50px;
}

#pie {
  width: 1000px ;
}

.legend {
  padding: 1.5px;
  font-family: serif;
  font-size: 14px;
  /* font-weight: bold; */
  line-height: 18px;
  color: #555;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.real-estate-container {
  padding-top: 50px;
  padding-left: 10px;
}

footer {
  background-color: lightblue;
  padding: 20px;
  /* margin: 20px; */
  /* margin: 20px; */
}
